.hero-section{
    width: 100%;
    height: 90vh;
    padding-left: 90px;

}
.hero-container{
    display: flex;
    flex-direction: 20px;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-top: 60px;
}
.hero-description h1{
    font-weight: 700;
    font-size: 88px;
    line-height: 100px;
    padding-bottom: 20px;
}
.hero-description h1 span{
    color: rgba(25, 206, 206, 1);
}
.hero-description p{
    font-weight: 300px;
    font-size: 20px;
    line-height: 1.5;
}
.hero-image{
    height: 550px;
    padding: 20px 10px;
    padding-left: 10px;
}